/config.codekit
*~
.svn
.cvs
.git
.listing
*.bak
*.swp
*.log
plugins/wp-file-cache/cache
cache
_wpeprivate
.cache
temp
tmp
*.tmp
imagecache*
uploads*
*_backup
gt-cache
**/.sass-cache
**/.sass-cache/*
ics-importer-cache
wp-config-sample.php
wp-content/w3tc*
wp-content/w3-*
wp-content/plugins/wpengine-snapshot/snapshots/*
wp-content/uploads/snapshots
wp-content/themes/thesis*/custom/cache
wp-content/themes/thesis*/lib/scripts/cache
wp-content/themes/*/cache
wp-content/plugins/*/cache
wp-content/w3tc-bak
wp-content/backup*
wp-content/temp*
wp-content/debug.log
wp-content/backups
wp-content/managewp
wp-content/upgrade/*
wp-content/uploads/*
wp-content/uploads/pb_backupbuddy/*
wp-content/uploads/backupbuddy_backups/*
wp-content/blogs.dir/*/*
pclzip-*

# WordPress Local config
**local-config.php

# WordPress debugging files
log.txt
debug.log

# Gallaries in various places
gallery/*
wp-content/gallery/*
wp-content/album/*

# Found in 'sneakernews' - probably just a backup but never going to be good to include
wp-content/plugins/plugins

# Found in the root of pod-1009
.a

# Forum software we probably shouldn't support anyway
forum/*

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz

